@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
/* Credit: http://www.templatemo.com */

body{ 
	margin: 0;
	padding: 0;
	/*color: #e2e2e2;*/
	color: #000000;
	font-size: 14px;
	line-height: 1.6em; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #313030;
	background-image:  url(../images/templatemo_body.jpg);
	background-position: center top;
	background-repeat: no-repeat
}

a, a:link, a:visited { 
color: #7799bb;  
	/*color : #FFF; */
	text-decoration: none;
	font-size: 12px; 
	font-weight: bold; 
	
}

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

#adminname_title { 
	display: block;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	font-size: 28px;
	color: #fff;
	font-weight: 700;
	line-height: 1.6em;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	padding-top:10px;
	padding-bottom:10px;
}


h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 36px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { padding: 0; margin: 0 0 15px 0 }

p a, p a:link, p a:visited { color: #00CCFF; font-weight: normal; text-decoration: none }
p a:hover { color: #CC66FF; text-decoration: none; }

.clear{ clear:left; }

.left { float: left }
.right { float: right }

#templatemo_header_wrapper {
	width: 100%;
	background: url(images/templatemo_header.png) center bottom no-repeat 
}

#templatemo_header {
	width: 800px;
	margin: 0 auto;
	padding: 35px 20px 40px;
	background: url(images/templatemo-header-bg.png) no-repeat center;
	position:relative;
}
.templatemo_header_bg {
	position:absolute;
	right:157px;
	top:14px;
	cursor:default;
}
#templatemo_main_wrapper {
	width: 800px;
	height: 480px;
	margin: 0 auto;
	padding: 9px;
	background: url(../images/templatemo_content_bg.png) no-repeat
}

#templatemo_main {
	width: 800px;
	height: 480px;
	overflow: hidden;
}

#templatemo_footer_wrapper {
	width: 100%;
	background: url(images/templatemo_footer.png) center top no-repeat
}

#templatemo_footer {
	width: 780px;
	margin: 0 auto;
	padding: 20px 20px;
	color: #999999;
	text-align: center;
}

#templatemo_footer a {
	color: #999999;
}

#site_title { display: block; width: 300px; margin: 0 auto; text-align: center }
#site_title a { font-size: 28px; color: #fff; font-weight: 700 }

#content{
	overflow:hidden;
	width: 7000px;
	position:relative;
	height: 480px;
	background: #3c3b3b;	
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}
.profile-upload-box {
	padding: 20px 50px 20px;
	width:80%;
	margin:20px 90px;
}
#leftcol{
 width:20%; 
 float:left; 
 position:relative; 
  }
 
#twocols{
 width:80%; 
 float:right; 
 position:relative; 
  }
 
#rightcol{
 width:100%; 
 float:right; 
 position:relative; 
 }
 .clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  

input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
input.buttom:hover	{ background-color: #2a78f6; }

.userstats {
	font-size:12px;
}

.profile-resource-header {
	color: #93CDF5;
	font-size: 22px;
	text-transform: uppercase;
	margin: 20px 0 15px 20px;
}

